<%- include("header2", {}) %>

<head>
    <link rel="stylesheet" href="modificar.css">
</head>
<body>
    <br><br>
   <div id="noticias">
        <ul id="publicaciones">
            <% if (publicaciones.length===0){%>
                <p >PUBLICA NOTICIAS GITANX</p>
            <% } %>
            
            <% for (let i=0; i<publicaciones.length ; i++) { %>
                <h2><%= publicaciones[i].titular%></h2>
                <form action="/modificar" method="post">
                    <textarea  name="cuerpo" class="cuerpo" readonly required id=<%= publicaciones[i].id%>><%= publicaciones[i].body%></textarea>
                    <button type="button" onclick="modificar(this.getAttribute('name'))"  id="botonModificar" class="botones" name=<%= publicaciones[i].id%>>MODIFICAR</button>
                    <input   name="body" style="display: none;" id=<%= 'body'+publicaciones[i].id %> > 
                    <input id="idPub" name="idPub" style="display: none;" value=<%= publicaciones[i].id %>>
                    <button type="sumbit" id="botonguardar" onclick="guardar(this.getAttribute('name'))" class="botones" name=<%= publicaciones[i].id%>>GUARDAR</button>
                    <button type="sumbit" id="botoneliminar" onclick="eliminar(this.getAttribute('name'))" class="botones" name=<%= publicaciones[i].id%>>ELIMINAR</button>
                </form>
            <% } %>
        </ul>

   </div>
</body>
<script>
   function modificar(id){
        document.getElementById(id).style.background="white";
        document.getElementById(id).readOnly=false;
        document.getElementById(id).style.cursor="text";
        
        
   }

   function guardar(id){
    let cuerpo= document.getElementById(id).value;
    document.getElementById("body"+id).value=cuerpo;
   }

   function eliminar(id){
    document.getElementById("body"+id).value="eliminar";
   }

</script>
<script>document.getElementById("botonIluminado").className='animation start-modificar'</script>