<%- include("header2", {}) %>
<head>
    <link rel="stylesheet" href="tablon.css">
</head>
<body>
<main>
	<div class="book">
		<div class="book-cover">
			<div>
				<h1 id="titulo">Noticias</h1>
				<div class="separator"></div>
				<h2>by Gacetilleros</h2>
			</div>
		</div>
		<div class="book-content">
			<!--<h3>An Excerpt from Chapter One</h3> -->
           
			<div id="cuadro">
				<br>
				<ul id="publicaciones">
					<br><br>
					<% for (let i=0; i<publicaciones.length ; i++) { %>
						<h3><%= publicaciones[i].titular %></h3>
						<br>
						<p><%= publicaciones[i].body %></p> <p style="text-align: right;"><%= "by " + publicaciones[i].autor%> </p><br>
						<div id="mostrarComentarios" >
							<div id="comentar">
								<% for (let j=0; j<comentarios.length ; j++) { %>
									<% if(comentarios[j].id_noticia === publicaciones[i].id){ %>
										<%= comentarios[j].autor + ": " + comentarios[j].body %><br>
									<% }} %>
							</div>
							<form action="/tablon" method="post">
								<input id="inputComentario" name="inputComentario" type="text" required></input>
								<input id="idPub" name="idPub" style="display: none;" value=<%= publicaciones[i].id %>>
								<button type="sumbit" id="botonComentar">COMENTAR</button>
							</form>
							<br><br>
						</div>
					<% } %>
				</ul>
				<br><br>
				
            </div>
			
        </div>
	</div>
</main>
</body>
<script>
	document.getElementById("botonIluminado").className='animation start-tablon';
function mostrarComentarios(){
	document.getElementById('mostrarComentarios').style.display="inline";
}
</script>


